.view {
    background-color: rgba(255, 255, 255, 0.679);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 50%;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;
}

h2 {
    text-align: center;
}

p {
    margin-top: 5%;
}

.form-group {  
    margin-top: 11em; 
    margin-right: 2em;  
}