
<div class="view">
    <h2>May Day</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe architecto illum omnis. Ex velit quia explicabo, <br>
     deleniti eaque autem dolor sed hic, impedit iusto, voluptatibus dolore aliquid veritatis cum rerum?. Lorem, <br>
     ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nesciunt, sunt libero delectus adipisci et <br>
     aspernatur cum vero, illo corporis pariatur doloremque, quae voluptas cupiditate nisi velit facere? Repellat, soluta!</p>

     <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Save
        </button>

        <button type="button" class="btn btn-warning float-right" routerLink="/home">
          Cancel
        </button>
      </div>
</div>