
<div class="main">

    <form class="form-floating">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Topic" ngModel placeholder="title" id="title" type="text" class="input-field" >
            <label for="floatingInput">Topic</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px" ngModel placeholder="details" id="details" type="text" class="input-field" ></textarea>
            <label for="floatingTextarea2">Your Notes</label>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              Save
            </button>

            <button type="button" class="btn btn-warning float-right">
              Cancel
            </button>
          </div>
           
      </form>

</div>



